@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: Arial, Helvetica, sans-serif;
}

html {
  scroll-behavior: smooth !important;
}

@layer base {
  body {
    @apply bg-[#ecf0f3] dark:bg-black text-[#1f2937] dark:text-gray-300 tracking-wide;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bold;
  }

  h1 {
    @apply text-4xl sm:text-5xl md:text-6xl;
  }

  h2 {
    @apply py-2 sm:py-4 text-3xl sm:text-4xl text-gray-700 dark:text-gray-500;
  }

  h6 {
    @apply text-[#8c52ff] text-base sm:text-xl uppercase tracking-widest;
  }

  li {
    @apply cursor-pointer;
  }

  input {
    @apply dark:bg-[#121212] border-2 border-gray-300 dark:border-[#313131] rounded-lg p-3 flex;
  }

  button {
    @apply shadow-xl rounded-xl bg-[#CDCDCD] dark:bg-[#434343] uppercase text-white;
  }

  section {
    scroll-margin-top: 100px;
  }
}
