/* ---------- NAVBAR ---------- */

/* DEFAULT */
header {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  z-index: 1000;
}

/* Menu Display */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  list-style: none;
}

/* Links */
.nav-link {
  color: #121212;
  text-decoration: none;
  transition: 0.25s;
}

.nav-link:hover {
  color: #007fff;
}

.nav-link:after {
  content: '';
  width: 0%;
  height: 2px;
  background: #007fff;
  display: block;
  margin: auto;
  transition: 0.25s;
}

.nav-link:hover::after {
  width: 100%;
}

/* JavaScript Hamburger Menu */
.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px;
  margin-left: auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #121212;
}

@media (max-width: 768px) {
  header {
    background-color: #ecf0f3;
    padding: 16px 4%;
  }

  .hamburger {
    display: block;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .navbar {
    position: fixed;
    right: -150%;
    top: 45px;
    gap: 0;
    flex-direction: column;
    background-color: #ecf0f3;
    width: 100%;
    text-align: center;
    transition: 0.3s;
    z-index: 1;
  }

  .navbar li {
    margin: 8px 0;
  }

  .navbar.active {
    right: 0;
  }

  .logo {
    font-size: 40px;
  }
}

@media (max-width: 480px) {
  header {
    background-color: #121212;
    padding: 12px 2%;
  }

  .logo {
    font-size: 35px;
  }

  .navbar {
    top: 45px;
  }
}
