header {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  z-index: 1000;
  transition: box-shadow 0.3s ease;
  background-color: #ecf0f3;
}

.navbar-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-left: 24px;
  padding-right: 24px;
}

.navbar-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  list-style: none;
}

.navbar-links {
  color: #121212;
  text-decoration: none;
  transition: 0.25s;
}

.navbar-links:hover {
  color: #007fff;
}

.navbar-links:after {
  content: '';
  width: 0%;
  height: 2px;
  background: #007fff;
  display: block;
  margin: auto;
  transition: 0.25s;
}

.navbar-links:hover::after {
  width: 100%;
}

.navbar-hamburger {
  display: none;
  cursor: pointer;
}

.navbar-bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px;
  margin-left: auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #121212;
}

.navbar-shadow {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
  header {
    background-color: #ecf0f3;
    padding: 16px 4%;
  }

  .navbar-hamburger {
    display: block;
  }

  .navbar-hamburger.active .navbar-bar:nth-child(2) {
    opacity: 0;
  }

  .navbar-hamburger.active .navbar-bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .navbar-hamburger.active .navbar-bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .navbar-list {
    position: fixed;
    right: -150%;
    top: 65px;
    gap: 0;
    flex-direction: column;
    background-color: #ecf0f3;
    width: 100%;
    text-align: center;
    transition: 0.3s;
    z-index: 1;
  }

  .navbar-list li {
    margin: 8px 0;
  }

  .navbar-list.active {
    right: 0;
    padding-left: 0;
  }

  .navbar-wrapper {
    padding-left: 0px;
    padding-right: 0px;
  }
}

@media (max-width: 480px) {
  header {
    background-color: #ecf0f3;
    padding: 12px 2%;
  }

  .navbar-list {
    top: 65px;
  }
}