@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html {
  scroll-behavior: smooth !important;
}

body {
  font-family: 'Source Sans 3', sans-serif;
  background-color: #ecf0f3;
  color: #1f2937;
  letter-spacing: 0.4px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}

h1 {
  font-size: 36px;
}

h2 {
  padding-top: 8px;
  padding-bottom: 8px;
  font-size: 30px;
  color: #374151;
}

h6 {
  color: #3b82f6;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 1.6px;
}

li {
  cursor: pointer;
}

input {
  background-color: white;
  border: 2px solid #d1d5db;
  border-radius: 8px;
  padding: 12px;
  display: flex;
}

button {
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 8px 10px -6px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  background-color: #CDCDCD;
  color: white;
  text-transform: uppercase;
}
